body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 242, 245);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.app {
  width: 100vw;
  height: 100vh;
}
